body {
    margin: 0;
    font-family: 'safetyregular';

}

header {
    background-color: #242424;
    padding-left: 140px;
    display: flex;
    padding-right: 150px;
}

header img {
    width: 10%;
}

header a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 18px;
}

.right {
    text-align: end;
}

header a:hover {
    text-decoration: underline;
}

.top {
    line-height: 0px;
}

.top img {
    width: 100%;
    height: 30vh;
}

.bottom {
    color: white;
    background-color: #424B5A;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 140px;
    padding-right: 140px;
}

.bottom img {
    width: 98%;
}

.quiz {
    background-color: #6a6a6a;
    text-align: center;

}

footer {
    color: white;
    background-color: #28292D;
    padding-left: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
}


@font-face {
    font-family: 'safetyregular';
    src: url('safety-webfont.woff2') format('woff2'),
        url('safety-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'safetybold';
    src: url('safety-bold-webfont.woff2') format('woff2'),
        url('safety-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'safetydemibold';
    src: url('safety-demibold-webfont.woff2') format('woff2'),
        url('safety-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'safetylight';
    src: url('safety-light-webfont.woff2') format('woff2'),
        url('safety-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
